/*========general style========*/
:root {
  --main-color: #212121;
  --logo-color: #000000;
  --text-color: #757575;
  --accent-color: #2196f3;
  --footer-background-color: #2f303a;
  --body-background-color: #ffffff;
  --background-color: #f5f4fa;
  --white-contacts-color: rgba(255, 255, 255, 0.6);
  --border-color: rgba(238, 238, 238, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}
.contanier {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
body {
  font-family: 'Roboto', sans-serif;
}
.header-contact-link:hover,
.header-contact-link:focus,
.menu-link:hover,
.menu-link:focus,
.menu-link.current,
.address-link:hover,
.address-link:focus,
.address-contact-link:hover,
.address-contact-link:focus {
  color: var(--accent-color);
}
.hero-title,
.hero {
  text-align: center;
  margin: 0 auto;
  background-color: var(--footer-background-color);
}
.header {
  background-color: var(--body-background-color);
}
.team {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pictures-title,
.team-title {
  margin-bottom: 50px;
}
/*=====end general style========*/

/*========= header ==========*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 70px;
}
.logo-1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.header-contanier {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--logo-color);
}
.header-contact {
  display: flex;
  align-items: center;
}
.header-contact-item:not(:last-child) {
  margin-right: 50px;
  justify-content: space-between;
}
.header-contact-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/*==========end header=========*/

/*============hero=============*/
.hero-title {
  padding-top: 200px;
  padding-bottom: 280px;
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--body-background-color);
}
.project {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.project-item:not(:nth-child(3n)) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-item:nth-last-child(-n + 3) .project-thumbnail {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1130px;
}
.project-heading-content {
  padding-top: 30px;
}
.project-heading {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.project-description {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.modal-btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--accent-color);
  color: var(--body-background-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: transparent;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--logo-color);
}
.filter-options {
  display: block;
}
.filter-item {
  color: var(--logo-color);
}
.filter-item:hover,
.filter-item:focus {
  background: var(--accent-color);
  color: var(--background-color);
}
.filter-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--background-color);
}
/*============end hero=========*/

/*=======skills company========*/
.skills-list {
  display: flex;
  padding-top: 94px;
  margin-top: -30px;
  margin-left: -30px;
}
.skills-list-item {
  width: 270px;
  width: calc((100% - 120) / 4);
  margin-top: 30px;
  margin-left: 30px;
}
.skills-list-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.skills-list-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*=====end skills company======*/

/*========pictures=============*/
.pictures {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.pictures-list {
  flex-basis: calc((100% - 90px) / 3);
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.pictures-list-item {
  margin-left: 30px;
  margin-top: 30px;
}
.pictures-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
/*=====end pictures============*/
/*=========team================*/
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team-list-item {
  flex-basis: calc((100%-120px) / 5);
  margin-left: 30px;
  margin-top: 30px;
}
.team-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-list-item-name {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.team-list-content {
  padding-top: 30px;
}
.team-list-item-position {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*=========end team============*/

/*==========footer=============*/
.footer {
  background-color: var(--footer-background-color);
}
.logo-link-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.logo-2-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
  margin-bottom: 20px;
}
.address-link {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
}
.address-contact-link {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-contacts-color);
}
/*======= end footer=============*/
